{% extends "layouts/base.html" %}

{% block content %}
    <div class="page-header">
        <h1> {{ title }}</h1>
        <p class = "lead"> Welcome to {{ title | escape }}!</p>
        <p class = "body">
            Please click "Search" to begin looking for tweets using any hashtag of your choosing!<br /><br />
            Streams is a web app that aims to make sifting through public tweets for specific hashtags both quick and easy utilizing the Twitter API.
        </p>
    </div>
{% endblock %}