{% extends "layouts/base.html" %}

{% block content %}
    <div class="page-header">
        <h1>About</h1>
        <p class = "lead">Who am I and what is <b>NYOT</b>?</p>
        <p class = "body" style="text-align:justify">
            My name is Jeremy De La Cruz, I am a graduating Senior at Brooklyn Technical High School, and I am a member of <b>New York On Tech</b> (NYOT).
            NYOT is a great organization that strives to expose high school students from all backgrounds across New York City to the world of technology.
            From technical skills like web development and programming to professional and project management skills like networking and the Systems Development
            Life Cycle, members of NYOT are well rounded and well prepared for a career in technology in any specialization of their choosing.
        </p>
    </div>
{% endblock %}